@{
  Layout = "_Layout";
}

  <div class = "container">
    <div class = "row">
      <div class="col-md-12">
      <a href="/Cart/Confirm/@ViewBag.sessionId"><button type="button" name="button" class ="btn">Proceed to Checkout</button></a>
        <h1>Shopping Cart</h1>
        <hr></hr>
        @foreach (var item in Model)
        {
          <div class="row">
          <div class="col-md-3">
            <a href="/Item/Detail/@item.GetId()"><img src="@item.GetImgUrl()" class="center-block" alt="Picture" height="200" width="200"></a>
          </div>
            <div class="col-md-3">
              <a href="/Item/Detail/@item.GetId()/@ViewBag.sessionId"> <p>@item.GetName()</p></a>
              <a href="/Cart/DeleteItem/@item.GetId()/@ViewBag.sessionId"> <button type="button" class="btn"> Delete </button></a>
            </div>
            <div class="col-md-3">
              <p>$@item.GetCost()</p>
            </div>
            <div class="col-md-3">
              <p>Stock: @item.GetStock()</p>
            </div>
          </div>
          <hr></hr>
        }
      </div>
    </div>
  </div>


<script src="text/javascript">
$(document).ready(function(){
})
</script>
