@{
  Layout = "_Layout";
}
<body>
  <div class = "container">
    <div class = "jumbotron">
      <h1>Simple Cart Site</h1>
    </div>
  <div class = "row">
    <div class="col-md-12">
      <h1>Individual Item</h1>
      Code to Display an items goes here.
    </div>
  </div>
</body>

<script src="text/javascript">
$(document).ready(function(){
})
</script>
