@{
  Layout = "_Layout";
}

  <div class = "container">
    <div class = "jumbotron">
      <h1>Simple Cart Site</h1>
    </div>
  <div class = "row">
    <div class="col-md-12">
      <h1>Register an Account:</h1>
        <form action='/User/Form/Register' method='post'>
          <div class='form-group'>
            <label for='name'>Name</label>
            <input id='nameForm' name='nameForm' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='usernameForm'>Username</label>
            <input id='usernameForm' name='usernameForm' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='passwordForm'>Password</label>
            <input id='passwordForm' name='passwordForm' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='addressForm'>Address</label>
            <input id='addressForm' name='addressForm' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='emailForm'>Email</label>
            <input id='emailForm' name='emailForm' class='form-control' type='text'>
          </div>
          <a href="/Item"><button type="submit" class="btn">Register</button></a>
          <a href="/"><button type="button" class="btn">Back to Login Page</button></a>
        </form>
    </div>
  </div>


<script src="text/javascript">
$(document).ready(function(){
})
</script>
