@{
  Layout = "_Layout";
}
<body>
  <div class = "container">
    <div class = "jumbotron">
      <h1>Simple Cart Site</h1>
    </div>
  <div class = "row">
    <div class="col-md-12">
      <h1>Register an Account:</h1>
        <form action='/User/Form/Register' method='post'>
          <div class='form-group'>
            <label for='name'>Name</label>
            <input id='name' name='name' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='username'>Username</label>
            <input id='username' name='username' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='password'>Password</label>
            <input id='password' name='password' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='address'>Address</label>
            <input id='address' name='address' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='email'>Email</label>
            <input id='email' name='email' class='form-control' type='text'>
          </div>
          <button type="submit" class="btn">Create a new Account</button>
          <button type="button" class="btn"><a href='/'>Login</a></button>
        </form>
    </div>
  </div>
</body>

<script src="text/javascript">
$(document).ready(function(){
})
</script>
