@{
  Layout = "_Layout";
}

  <div class = "container">
    <div class = "jumbotron">
      <h1>Simple Cart Site</h1>
    </div>
  <div class = "row">
    <div class="col-md-12">
      <h1>My Cart</h1>
      @foreach (var item in Model)
      {
        <div class="row">
          <div class="col-md-7">
            <a href="/Item/@item.GetId()/Detail"> <p>@item.GetName()</p></a>
          </div>
          <div class="col-md-5">
            <a href="/Item/@item.GetId()/Remove"> <button type="button" class="btn"> Remove </button></a>
          </div>
        </div>
      }
    </div>
  </div>
  <a href="/Order/Success"><button type="button" name="button">Proceed to Checkout</button></a>
  <a href="/Item"> <button type="button" class="btn">Continue Shopping</button></a>


<script src="text/javascript">
$(document).ready(function(){
})
</script>
