@{
  Layout = "_Layout";
}

<div class = "container">
  <div class = "row">
    <div class="col-md-12" id="resultCol">
      <h1>Create Account:</h1>
        <form action='/User/Create' method='post'>
          <div class='form-group'>
            <label for='name'>Name</label>
            <input id='nameForm' name='nameForm' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='usernameForm'>Username</label>
            <input id='usernameForm' name='usernameForm' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='passwordForm'>Password</label>
            <input id='passwordForm' name='passwordForm' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='addressForm'>Address</label>
            <input id='addressForm' name='addressForm' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='emailForm'>Email</label>
            <input id='emailForm' name='emailForm' class='form-control' type='text'>
          </div>
          <button type="submit" class="btn"><a href="/Item">Create your Account</a></button>
          <hr></hr>
          <p>Already have an account? <a href="/User/Login"> Sign in</a></p>
        </form>
    </div>
  </div>
</div>


<script src="text/javascript">
$(document).ready(function(){
})
</script>
