body {
  background-color: #f7f7f7;
}

div#footer {
    position:fixed;
    bottom: 0px;
    left:0px;
    width:100%;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #262F3E;
    opacity: 0.8;
    font-weight: bold;
    box-shadow: 0 0 10px black;
    padding-top: 5px;
    height: 40px;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
  background-color: #262F3E;
  margin-bottom: 10px;
  font-size: 20px;
  z-index: 2;
  box-shadow: 0 0 10px black;
  font-weight: bold;
  color: white;
  padding: 5px;
}

header a {
  color: white;
}

button {
  border: 1px solid black !important;
  background-color: #ffb444;
  text-align: left;
  margin-top: 20px;
}

hr {
  opacity: 0.2;
  border: 1px solid black;
}

.jumbotron {
  height: 100px;
  padding-top: 10px;
  background-color: #262F3E;
  margin-top: 60px;
}

#firstItemContainer img {
  float: left;
  margin-top: 30px;
}

#jumbotron h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: 0 3px #ffb444;
  font-weight: bold;
}

#resultCol {
  width: 40%;
  border: 1px groove black;
  margin-left: 30%;
}
#resultCol p {
  text-align: center;
}

#resultCol a:hover {
  color: orange;
}
#resultCol button {
  margin-left: 30%;
  margin-top: -.5%;
}
#resultCol button a {
  color: black;
  text-decoration: none;
}
#resultCol button a:hover{
  color: black;
}

#loginCol {
  width: 40%;
  border: 1px groove black;
  margin-left: 30%;
}
#loginCol p {
  text-align: center;
}
#loginCol a:hover {
  color: #ffb444;
}
#loginCol button {
  width: 100%;
  margin-bottom: 2%;
  margin-top: -2%;
}
#loginCol button a {
  color: black;
  text-decoration: none;
}
#loginCol button a:hover{
  color: black;
}
.col-md-1 a {
  font-size: 18px;
  text-decoration: none;
}
.col-md-1 a:hover {
  font-size: 18px;
  text-decoration: none;
  color: #ffb444; 
}
