<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Template</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <link rel='stylesheet' href="~/css/styles.css">
  </head>
  <body>
      <div class = "container">
          <div class = "jumbotron">
              <h1>Inventory w/SQL</h1>
          </div>
          <div class = "row">
            <div class = "col-md-12">
            <button type="button" class="btn"><a href="/">Home</a></button>
            <form id="submitItem" action = "/AmazonInventory/orderAlpha" method = "post">
              <button type="submit" class="btn">Order items alphabetically</button>
            </form>
            <form id="submitItem" action = "/AmazonInventory/orderCost" method = "post">
              <button type="submit" class="btn">Order items by cost</button>
            </form>
            <h2> Results </h2>
            @if (Model != null)
            {
                @foreach(var item in Model)
                {
                  <h3>Contact<a href='/items/@item.GetId()'> @item.GetId() </a></h3>
                  <h4>Name:@item.GetName()</h4>
                  <h4>Cost:@item.GetCost()</h4>
                  <h4>PostDate:@item.GetPostDate()</h4>
                }
            }
            </div>
        </div>
      </div>
      <div id="footer"><br> Alexander Neumann & Tim Firman Epicodus February 19th, 2018</div>
  </body>
